*.pid
*.xml
*.csr
*.crt
*.key
OZW_Log.txt
home-assistant.log
home-assistant_v2.db
home-assistant_v2*
*.db-journal
lib
deps
tts
secrets.yaml
known_devices.yaml
*.conf
plex.conf
tradfri.conf
pyozw.sqlite
.*
.gitignore
!/.gitignore
ip_bans.yaml
zwcfg_0x014d0166.xml
zwscene.xml
shell
zigbee.db
emulated_hue_ids.json
media/whitenoise
google_calendars.yaml
